{% extends "base.html" %}

{% block title %}公共模板{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ static_url('my.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ utils.header(current_user, title="公共模板", sup=False) }}

<section class="tpl">
  <div id="error-msg"> {% if msg or msg != '' %}<pre>{{msg}}</pre>{% endif %}</div>
  <div class="container">
    <h2>
      已注册仓库
      {% if adminflg %}
        <button type="button" data-load-method="GET" class="btn btn-default modal_load"  href="/subscribe/signup_repos/{{userid}}/" title="注册模板仓库">注册</button>
        <button type="button" data-load-method="GET" class="btn btn-default modal_load"  href="/subscribe/unsubscribe_repos/{{userid}}/" title="取消注册此仓库">退订</button>
      {% endif %}
    </h2>
    <table id="register_repo" class="table table-hover tablesorter">
      <thead>
        <tr>
          {% if adminflg %}
          <th style="text-align:center" title="操作">操作</th>
          <th style="text-align:center" title="仓库序号">序号</th>
          {% endif %}
          <th style="text-align:center" title="注册的仓库名">仓库名</th>
          <th style="text-align:center" title="注册的仓库连接">链接</th>
          <th style="text-align:center" title="注册的仓库分支">分支</th>
          <th style="text-align:center" title="是否对仓库使用加速，仅对github有效">加速</th>
        </tr>
      </thead>
      <tbody>
        {% for repo in repos %}
        <tr>
          {% if adminflg %}
          <td style="text-align:center">
            <input type="checkbox"  name="{{loop.index0}}" class="Repo checkbox" style="display: inline; min-height: unset;" onclick="repoNode.toggle(this)">
          </td>
          <td style="text-align:center">
            {{loop.index0}}
          </td>
          {% endif %}
          <td style="text-align:center">{{ repo.reponame }}</td>
          <td style="text-align:center">
            <a href="{{ repo.repourl }}" target="_blank" rel="noopener noreferrer">{{ repo.repourl }}</a>
          </td>
          <td style="text-align:center">{{ repo.repobranch }}</td>
          <td style="text-align:center">{% if repo.repoacc %} 开启 {% else %} 关闭 {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>
      模板
      {% if adminflg %}
        <a data-method="POST" class="btn btn-default" href="/subscribe/refresh/{{userid}}/?op=refresh" title="只更新,不清除缓存">强制更新</a>
        <a data-method="POST" class="btn btn-default" href="/subscribe/refresh/{{userid}}/?op=clear" title="有任务重复的时候，请尝试重建缓存">重建缓存</a>
      {% endif %}
        <button type="button" class="btn btn-default" onclick="window.open('https://github.com/qd-today/templates/discussions/171')" title="求模板链接" style="outline: none;">求模板</button>
    </h2>
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input id="search-input" class="search form-control input-lg" placeholder="搜索" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1" data-column="all">
      <span class="input-group-addon btn btn-default"><span type="span" class="fa fa-times-circle reset" aria-hidden="true"> 清空</span></span>
    </div>
    <table id="pubtpl_list" class="table table-hover tablesorter">
      <thead>
        <tr>
          <th style="text-align:center" title="模板操作区">操作</th>
          <th style="text-align:center" title="所属仓库">仓库</th>
          <th style="text-align:center" title="目标网站">网站</th>
          <th style="text-align:center" title="模板作者">作者</th>
          <th style="text-align:center" title="修改日期">修改日期</th>
          <th style="text-align:center" title="备注和修改日志">备注/日志</th>
        </tr>
      </thead>
      <tbody>
        {% for tpl in tpls | sort(attribute='date', reverse=True)%}
        <tr>
          <td style="text-align:center">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-default" onclick="window.open('/har/edit?reponame={{ tpl.reponame | urlencode }}&name={{ tpl.filename | urlencode }}')" id="{{ tpl.name }}" title="订阅此模板" style="outline: none;">订阅</button>
            </div>
            {% if tpl.commenturl != '' %}
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-default" onclick="window.open('{{tpl.commenturl}}')" id="{{ tpl.name }}" title="跳转到评论区" style="outline: none;" rel="noopener noreferrer">评论</button>
            </div>
            {% endif %}
          </td>
          <td style="text-align:center">{{ tpl.reponame }}</td>
          <td style="text-align:center">{{ tpl.name }}</td>
          <td style="text-align:center">{{ tpl.author | safe }}</td>
          <td style="text-align:center">{{ tpl.date | safe }}</td>
          <td style="text-align:center">{{ tpl.comments | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% if adminflg %}
<script src="{{ static_url('tpl.subscribeAdmin.js') }}"></script>
{% endif %}
<script src="{{ static_url('tpl.subscribe.js') }}"></script>


{{ utils.modal_load() }}
{{ utils.apost() }}
{% endblock %}
